/project/visual_studio_2012/mpin_sdk.sdf
/project/visual_studio_2012/Debug
/project/visual_studio_2012/mpin_sdk.v11.suo
/project/visual_studio_2012/mpin_sdk.opensdf
.DS_Store
/project/eclipse/AndroidMpinSDK/bin
/project/eclipse/AndroidMpinSDK/obj
/project/eclipse/AndroidMpinSDK/libs/arm64-v8a/libAndroidMpinSDK.so
/project/eclipse/AndroidMpinSDK/libs/armeabi-v7a/libAndroidMpinSDK.so
/project/eclipse/AndroidMpinSDK/libs/armeabi/libAndroidMpinSDK.so
/project/eclipse/AndroidMpinSDK/libs/mips/libAndroidMpinSDK.so
/project/eclipse/AndroidMpinSDK/libs/mips64/libAndroidMpinSDK.so
/project/eclipse/AndroidMpinSDK/libs/x86/libAndroidMpinSDK.so
/project/eclipse/AndroidMpinSDK/libs/x86_64/libAndroidMpinSDK.so

### Xcode specific ignores / Added from Tisho on 26.I.2015 ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
